RewriteEngine On
RewriteBase /salem-dominion-ministries/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /salem-dominion-ministries/index.html [L]
